.users-cont {
  max-width: 600px;
  margin: 0 auto;
}

.user-cont {
  /* border: 1px solid lightgray; */
  box-shadow: 0 0 4px gray;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 10px;
}

.user-cont p {
  margin: 0px;
}

.user-cont h2 {
  margin: 0px;
}
